@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Emerald - Primary */
  --color-emerald-50: oklch(.979 .021 166.113);
  --color-emerald-100: oklch(.95 .052 163.051);
  --color-emerald-200: oklch(.905 .093 164.15);
  --color-emerald-300: oklch(.845 .143 164.978);
  --color-emerald-400: oklch(.765 .177 163.223);
  --color-emerald-500: oklch(.696 .17 162.48);
  --color-emerald-600: oklch(.596 .145 163.225);
  --color-emerald-700: oklch(.508 .118 165.612);
  --color-emerald-800: oklch(.432 .095 166.913);
  --color-emerald-900: oklch(.378 .077 168.94);
  /* Red */
  --color-red-50: oklch(.971 .013 17.38);
  --color-red-100: oklch(.936 .032 17.717);
  --color-red-200: oklch(.885 .062 18.334);
  --color-red-300: oklch(.808 .114 19.571);
  --color-red-400: oklch(.704 .191 22.216);
  --color-red-500: oklch(.637 .237 25.331);
  --color-red-600: oklch(.577 .245 27.325);
  --color-red-700: oklch(.505 .213 27.518);
  --color-red-800: oklch(.444 .177 26.899);
  --color-red-900: oklch(.396 .141 25.723);
  /* Amber */
  --color-amber-50: oklch(.987 .022 95.277);
  --color-amber-100: oklch(.962 .059 95.617);
  --color-amber-200: oklch(.924 .12 95.746);
  --color-amber-300: oklch(.879 .169 91.605);
  --color-amber-400: oklch(.828 .189 84.429);
  --color-amber-500: oklch(.769 .188 70.08);
  --color-amber-600: oklch(.666 .179 58.318);
  --color-amber-700: oklch(.555 .163 48.998);
  --color-amber-800: oklch(.473 .137 46.201);
  --color-amber-900: oklch(.414 .112 45.904);
  /* Purple  */
  --color-purple-50: oklch(.977 .014 308.299);
  --color-purple-100: oklch(.946 .033 307.174);
  --color-purple-200: oklch(.902 .063 306.703);
  --color-purple-300: oklch(.827 .119 306.383);
  --color-purple-500: oklch(.627 .265 303.9);
  --color-purple-600: oklch(.558 .288 302.321);
  --color-purple-700: oklch(.496 .265 301.924);
  --color-purple-800: oklch(.438 .218 303.724);
  --color-purple-900: oklch(.381 .176 304.987);
  /* Blue */
  --color-blue-50: oklch(.97 .014 254.604);
  --color-blue-100: oklch(.932 .032 255.585);
  --color-blue-200: oklch(.882 .059 254.128);
  --color-blue-300: oklch(.816 .112 254.04);
  --color-blue-400: oklch(.738 .165 255.05);
  --color-blue-500: oklch(.654 .208 259.125);
  --color-blue-600: oklch(.546 .245 262.881);
  --color-blue-700: oklch(.488 .243 264.376);
  --color-blue-800: oklch(.424 .199 265.638);
  --color-blue-900: oklch(.379 .146 265.522);
}

@layer base {
  html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    width: 100dvb;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@layer utilities {
  .container-sm {
    @apply max-w-[1022px] mx-auto px-4
  }

  .container-md {
    @apply max-w-[1202px] mx-auto px-4
  }

  .container-lg {
    @apply max-w-[1212px] mx-auto px-4
  }
}